@model PocLocadora.Models.Filme

<div class="form-group">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Genero" class="control-label"></label>
    <input asp-for="Genero" class="form-control" />
    <span asp-validation-for="Genero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Classificacao" class="control-label"></label>
    <input asp-for="Classificacao" class="form-control" />
    <span asp-validation-for="Classificacao" class="text-danger"></span>
</div>